<app-navbar></app-navbar>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
</style>
<body>
    <div id="encabezado">
        <h1 class="stroke" *ngIf="course!=null">{{course.name}}</h1>
    </div>

    <!--CARD-->
    <div>
        <div id="trans" class="row container card-body d-grid gap-2 " *ngFor="let comment of comments">
            <div  class="card-body">
                <img src="../../../assets/img/letter.png" width="150rem" height="150rem" class="img-responsive" alt=".">
                <h2 class="card-title">{{comment.title}}</h2>
                <h3 class="card-title">{{comment.comm}}</h3>
                <a href={{comment.link1}} class="card-title">{{comment.link1}}</a>
                <h2 class="card-title">{{comment.link2}}</h2>
                <h2 class="card-title">{{comment.link3}}</h2>
                <h2 class="card-title">{{comment.link4}}</h2>
                <h2 class="card-title">{{comment.link5}}</h2>
            </div> 
            <hr>
            <hr>
         </div>
    </div>
    
</body>

<!--FINAL-->