<app-navbar></app-navbar>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
</style>
<body>
    <div id="encabezado">
        <h1 class="stroke" *ngIf="course!=null">{{course.name}}</h1>
    </div>

    <!--CARD-->
    <h1 class="stroke" *ngIf="course.comments==''">Aún no hay publicaciones en este curso</h1>
    <button type="button" routerLink="/listCoursesStudents"data-bs-dismiss="modal" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Volver
      </button>
    <div>
        <div id="trans" class="row container card-body d-grid gap-2 " *ngFor="let comment of comments">
            
            <div  class="card-body">
                <img src="../../../assets/img/letter.png" width="150rem" height="150rem" class="img-responsive" alt=".">
                <h2 class="card-title">{{comment.title}}</h2>
                <hr>
                <h3 class="card-title">{{comment.comm}}</h3>
                <hr>
                <h3>  LINKS  </h3>
                <a href={{comment.link1}} target="_blank"class="card-title" *ngIf="comment.link1!=''">→{{comment.link1}}</a><br>
                <a href={{comment.link2}} target="_blank" class="card-title" *ngIf="comment.link2!=''">→ {{comment.link2}}</a><br>
                <a href={{comment.link3}} target="_blank" class="card-title"  *ngIf="comment.link3!=''">→ {{comment.link3}}</a><br>
                <a href={{comment.link4}} target="_blank" class="card-title" *ngIf="comment.link4!=''">→{{comment.link4}}</a><br>
                <a href={{comment.link1}} target="_blank" class="card-title" *ngIf="comment.link5!=''">→{{comment.link5}}</a>
                <div *ngIf="user.role=='ROLE_TEACHER'">
                    <img src="../../../assets/img/delete.png" (click)='getComment(comment._id)' width="50rem"  height="50rem" class="img-responsive" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" alt="delete"> 
                </div>
            </div> 
           
         </div>
    </div>
    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header bg-danger text-white d-flex justify-content-center">
              <h5 class="modal-title" id="exampleModalLabel">
                Estás a un paso de eliminar la publicacion seleccionada</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <br>
              <h3>¿Estás seguro de eliminar esta publicación?</h3>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" data-dismiss="modal" (click)='deleteComment()' class="btn btn-danger" >Eliminar</button>
            </div>
          </div>
        </div>
      </div>   

</body>

<!--FINAL-->