body {
    margin-top: -5%;
    padding: 10%;
    height: 100%;
    background: url('../../../assets/img/cursos.png');
    text-align: center;
    justify-content:center;
}

h1{
    font-family: 'Neucha', cursive;
    font-size: 4rem;
    color: white;
}

p{
    font-family: 'Neucha', cursive;
    color: white;
}

.card-body{
    color: rgb(12, 12, 12);
    margin: 7%;
     
    color: rgb(22, 22, 22);
    margin: 2%;
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
    justify-content:center;
}

#trans :hover{
    background-color: rgba(230, 226, 19, 0.911);
    transition: all 0.5s ease;
    border-color: rgb(0, 0, 0);
    justify-content:center;
  }


.card-title{
    color: rgb(0, 0, 0);
}

.row{
    border-color: rgb(0, 0, 0);
    margin-top: 4%;
}
.texto{
    color: rgb(14, 14, 13);
}

.bg-image{
    width: 100px;;
    margin: auto;
}

.row .texto{
    margin-top: 10%;
   font-size: 140%;
}


  img{
    transition: all 0.5s ease;
  }

  img:hover{ transform: scale(0.9);}

  .myWidth{
    width: 19rem;
    margin: 0.5rem;
    margin-top: 1rem;
    align-items: center;
    background-color: #29292181;
    border-color: rgb(0, 0, 0);
    justify-content:center;
}

.container{
    margin: 0.5rem;
    margin-top: 1rem;
    align-items: center;
    background-color: #8d8d83b9;
    justify-content:center;
}
 

@import url(https://fonts.googleapis.com/css?family=Erica+One);

h1 {
    font-family: 'Neucha', cursive;
  font-size: 80px;
  text-shadow: 0 1px 0 rgb(212, 183, 14),
               0 2px 0 rgb(212, 183, 14),
               0 3px 0 rgb(212, 183, 14),
               0 4px 0 rgb(212, 183, 14),
               0 5px 0 rgb(212, 183, 14),
               0 6px 0 transparent,
               0 7px 0 transparent,
               0 8px 0 transparent,
               0 9px 0 transparent,
               0 10px 10px rgb(122, 116, 116);
}

h2{
    font-family: 'Neucha', cursive;
    font-size: 40px;
  }

  /* Style modal erick */
 