<app-navbar></app-navbar>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
    </style>

    <body>    
        <h1>CURSOS</h1>
        <p >¡Agrega más cursos!</p>  
        <img src="../../../assets/img/add (1).png" width="100rem" height="100rem" class="img-responsive" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">  
         <div id="trans" class="row container card-body d-grid gap-2 col-8 mx-auto" *ngFor="let class of classes">
            <div  class="card-body">
                <img src="../../../assets/img/letter.png" width="150rem" height="150rem" class="img-responsive" alt=".">
                <h2 class="card-title">{{class.name}}</h2>
                <h2 class="card-title">{{class.description}}</h2>
            </div> 
            <div>
              <img src="../../../assets/img/delete.png" (click)='getClass(class._id)' width="50rem" height="50rem" class="img-responsive" type="button" data-bs-toggle="modal" data-bs-target="#modalDelete" alt="delete">
              <img src="../../../assets/img/complete.png" width="50rem" height="50rem" class="img-responsive" type="button" data-bs-toggle="modal" data-bs-target="#modalpublic" alt="publicacion">
              <img src="../../../assets/img/list.png" width="50rem" height="50rem" class="img-responsive" type="button" data-bs-toggle="modal" data-bs-target="#modalMaterial" alt="materialApoyo" >
            </div>
         </div>
    </body>
<!--modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content text-center">
            <div class="modal-header bg-warning text-white d-flex justify-content-center">
              <h5 class="modal-title" id="exampleModalLabel">REGISTRATE</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img  src="../../../assets/img/course.png" width="80px" height="80px">
              <h2>¡Agrega un nuevo curso!</h2>
              <form  class="form-signin" #createCourse = "ngForm" (ngSubmit) = "onSubmit(createCourse)">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Name course</label>
                    <input [(ngModel)]="classSelected.name"  name="name" #name="ngModel" class="form-control" type="text" id="inputName" placeholder="course name" required>
                    <label for="exampleFormControlInput1" class="form-label">Description</label>
                    <input [(ngModel)]="classSelected.description"  name="name" #name="ngModel" class="form-control" type="text" id="inputName" placeholder="..." required>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCEL</button>
                    <button type="submit" class="btn btn-success" [disabled]="!createCourse.form.valid">SAVE</button >
                  </div>
              </form>
            </div>
            <div class="modal-footer bg-warning text-white">
            </div>
          </div>
        </div>
      </div>
      <!--modal delete-->
    <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content text-center">
          <div class="modal-header bg-danger text-white d-flex justify-content-center">
            <h5 class="modal-title" id="modalDeleteLabel">Elimina el curso seleccionado</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h5 class="mt-5 mb-3 text-muted">¿Estas seguro de eliminar el curso?</h5>
            <!---->
            </div>
            <div class="modal-body">
              <i class="fas fa-times fa-3x text-danger"></i>
            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button type="button" class="btn btn-danger"  data-bs-dismiss="modal">No</button>
              <button type="button" class="btn btn-outline-danger ripple-surface" data-mdb-dismiss="modal" style="min-width: 69px;" (click)="deleteCourse()">
                Yes
              </button>
            <!---->
          </div>
          <div class="modal-footer bg-danger text-white">
          </div>
        </div>
      </div>
    </div>
      <!--modal publicación-->
    <div class="modal fade" id="modalpublic" tabindex="-1" aria-labelledby="modalpublicLabel" aria-hidden="true" >
      <div class="modal-dialog modal-xl">
        <div class="modal-content text-center">
          <div class="modal-header bg-warning text-white d-flex justify-content-center">
            <h5 class="modal-title" id="modalpublicLabel">PUBLICACIÓN</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body p-4">
            <img  src="../../../assets/img/male-teacher.png" width="100px" height="100px">
            <h5>Inserta el material de apoyo</h5>
            <form>
              <!-- 2 column grid layout with text inputs-->
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="form6Example1" class="form-control">
                    <label class="form-label" for="form6Example1" style="margin-left: 0px;">titulo</label>
                  <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 68.8px;"></div><div class="form-notch-trailing"></div></div></div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="form6Example2" class="form-control">
                    <label class="form-label" for="form6Example2" style="margin-left: 0px;">Descripción</label>
                  <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 68px;"></div><div class="form-notch-trailing"></div></div></div>
                </div>
              </div>
              <!-- Link input 1 -->
              <div class="form-outline mb-4">
                <input type="text" id="form6Example3" class="form-control">
                <label class="form-label" for="form6Example3" style="margin-left: 0px;">Company name</label>
              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 97.6px;"></div><div class="form-notch-trailing"></div></div></div>
              <!-- Link input 2 -->
              <div class="form-outline mb-4">
                <input type="text" id="form6Example3" class="form-control">
                <label class="form-label" for="form6Example3" style="margin-left: 0px;">Company name</label>
              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 97.6px;"></div><div class="form-notch-trailing"></div></div></div>
              <!-- Link input 3 -->
              <div class="form-outline mb-4">
                <input type="text" id="form6Example3" class="form-control">
                <label class="form-label" for="form6Example3" style="margin-left: 0px;">Company name</label>
              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 97.6px;"></div><div class="form-notch-trailing"></div></div></div>
              <!-- Link input 4 -->
              <div class="form-outline mb-4">
                <input type="text" id="form6Example3" class="form-control">
                <label class="form-label" for="form6Example3" style="margin-left: 0px;">Company name</label>
              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 97.6px;"></div><div class="form-notch-trailing"></div></div></div>
              <!-- Link input 5 -->
              <div class="form-outline mb-4">
                <input type="text" id="form6Example3" class="form-control">
                <label class="form-label" for="form6Example3" style="margin-left: 0px;">Company name</label>
              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 97.6px;"></div><div class="form-notch-trailing"></div></div></div>
            </form>
          </div>
          <div class="modal-footer bg-warning text-white">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-outline-success ripple-surface">Save changes</button>
          </div>
        </div>
      </div>
    </div>
      <!--modal material de apoyo-->
      <div class="modal fade" id="modalMaterial" tabindex="-1" aria-labelledby="modalMaterialLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content text-center">
            <div class="modal-header bg-warning text-white d-flex justify-content-center">
              <h5 class="modal-title" id="modalMaterialLabel">MATERIAL DE APOYO</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img  src="../../../assets/img/carpeta.gif" width="80px" height="80px">
              <h3>Subir Archivo</h3>
            <form #formImage="ngForm">
              <label for="imageInput"></label>
              <input type="file" name="image" id="imageInput" (change)="fileChange($event)">
            </form>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-outline-success ripple-surface" [disabled]="!formImage.form.valid" (click)="uploadFile()">Save changes</button>
            </div>
          </div>
        </div>
      </div>