<app-navbar></app-navbar>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
    </style>

    <body>
        <div id="encabezado">
            <h1 class="text-center h1">CURSOS DISPONIBLES</h1>
         </div>

         <form class="form-inline justify-content-center">
          <div class="h-100">
            <div class="d-flex justify-content-center h-100">
              <div class="searchbar">
                <input  [(ngModel)]="search" class="search_input" type="search" name="searchCourse"  placeholder="Buscar...">
                <a href="/listCourses" class="search_icon"><i class="fas fa-search"></i></a>
              </div>
            </div>
          </div>
        </form>
        
        <form #login="ngForm" (ngSubmit)="onSubmit()">
          <div id="trans" class="row container card-body d-grid gap-2 col-9 mx-auto" *ngFor="let class of classes | search:search">
            <div  class="card-body">
                <img src="../../../assets/img/notebook.png" width="75rem" height="75rem" class="img-responsive" alt=".">
                <h1 class="card-title">{{class.name}}</h1>
                <h3 class="card-title">{{class.description}}</h3>
                <div>
                  <button class="btn btl-lg btn-primary btn-block" type="submit" (click)='getClass(class._id)' type="submit">Ver Clase</button>                       
                </div>
                <br>
                <button type="button" (click)='getClass(class._id)' class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Cancelar inscripción
                </button>   
            </div> 
         </div>
        </form>
    </body>

<!-- MODAL DELETE-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-danger text-white d-flex justify-content-center">
          <h5 class="modal-title" id="exampleModalLabel">
            Estás a un paso de eliminar tu inscripción a esta clase</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <span class="mt-5 mb-3 text-muted">¿Estás seguro de eliminar tu inscripción?</span>
              <h3>¡No puedes volver luego de eliminarla!</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" data-dismiss="modal" class="btn btn-danger" (click)="deleteInscription()">Eliminar</button>
        </div>
      </div>
    </div>
  </div>        
        
        


