<app-navbar></app-navbar>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
    </style>

    <body>
        <div id="encabezado">
            <h1 class="text-center h1">CURSOS DISPONIBLES</h1>
         </div>
        
         <div id="trans" class="row container card-body d-grid gap-2 col-9 mx-auto" *ngFor="let class of classes">
            <div  class="card-body">
                <img src="../../../assets/img/notebook.png" width="75rem" height="75rem" class="img-responsive" alt=".">
                <h1 class="card-title">{{class.name}}</h1>
                <h3 class="card-title">{{class.description}}</h3>
                <div>
                    <button type="submit" class="btn btn-primary col-lg-3 mx-2" [disabled]="!userUpdate.form.valid">
                        See
                    </button>            
                    <button type="button" (click)='getClass(class._id)' class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Delete Class
                      </button>
                </div>
                      
            </div> 
         </div>
    </body>

<!-- MODAL DELETE-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-danger text-white d-flex justify-content-center">
          <h5 class="modal-title" id="exampleModalLabel">
            One click to delete your inscription!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <span class="mt-5 mb-3 text-muted">Are you shure to cancel your inscription?</span>
              <h3>This action is irreversible!</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" data-dismiss="modal" class="btn btn-danger" (click)="deleteInscription()">I'm sure</button>
        </div>
      </div>
    </div>
  </div>        
        
        


