body {
    margin: auto;
    padding: 10%;
    height: 100%;
    background-color:rgb(214, 62, 62);
    text-align: center;
}

h1{
    font-family:"Impact";
    font-size: 4rem;
}

.card-body{
    color: rgb(12, 12, 12);
    margin: 7%;
    display: inline-block;  
    color: rgb(22, 22, 22);
    margin: 2%;
    border-radius: 20px;
}

#trans :hover{
    background-color: rgba(252, 215, 8, 0.534);
    transition: all 0.5s ease;
  }


.card-title{
    color: rgb(241, 226, 9);
}

.row{
    
    margin-top: 4%;
}
.texto{
    color: rgb(14, 14, 13);
}

.bg-image{
    width: 100px;;
    margin: auto;
}

.row .texto{
    margin-top: 10%;
   font-size: 140%;
}


  img{
    transition: all 0.5s ease;
  }

  img:hover{ transform: scale(0.9);}

  .myWidth{
    width: 19rem;
    display: inline-flex;
    margin: 0.5rem;
    margin-top: 1rem;
    align-items: center;
    background-color: #ecdd009a;
}

.centrar{
    align-self: center;
}