<app-navbar></app-navbar>
<body>
  <h1>TUTOSEARCH</h1>
    <main class="mt-5">
        <div class="container centrar">
            <!--my courses-->
        <div class="col-lg-3 col-md-3">
            <div class="card myWidth">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="../../../assets/img/course.png" width="100rem" height="100rem" class="img-fluid" />
              </div>
              <div class="card-body ">
                <h5 class="card-title">MY COURSES</h5>
                <p class="card-text">
                  ¡Mira todos tus cursos!
                </p>
                <a href="/listCoursesStudents" class="btn btn-primary">vamos!</a>
              </div>
            </div>
          </div>
          <!--assing to course-->
          <div class="col-lg-3 col-md-3">
            <div class="card myWidth">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="../../../assets/img/open-book.png" width="100rem" height="100rem" class="img-fluid" />
              </div>
              <div class="card-body row justify-content-center align-items-center">
                <h5 class="card-title">NUEVOS CURSOS</h5>
                <p class="card-text">
                  ¡nuevos cursos!
                </p>
                <a href="" class="btn btn-primary">vamos!</a>
              </div>
            </div>
          </div>
        </div>
    </main>
</body>

    
