<app-navbar></app-navbar>
<head>
	<title>My Awesome Login Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<!--login-->
<body>
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="../../../assets/img/logoTutoSearch.png" class="brand_logo" alt="Logo">
					</div>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form #login="ngForm" (ngSubmit)="onSubmit()">
						<div *ngIf="token" class="alert alert-success" role="alert">
							Logeado
						</div>
						<div *ngIf="!token && message" class="alert alert-danger" role="alert">
						   {{message}}
						  </div>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input [(ngModel)]="user.username" name="username"  type="text" class="form-control input_user" value="" placeholder="username">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input [(ngModel)]="user.password" name="password" type="password" class="form-control input_pass" value="" placeholder="password">
						</div>
						<div class="form-group">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="customControlInline">
								<label class="custom-control-label" for="customControlInline">Remember me</label>
							</div>
						</div>
							<div class="d-flex justify-content-center mt-3 login_container">
								<button [disabled]="!login.form.valid" class="btn btl-lg btn-primary btn-block" type="submit">Login</button>
				   </div>
					</form>
				</div>
				<div class="mt-4">
					<div class="d-flex justify-content-center mt-3 login_container">
						 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
							Sign Up
						  </button>
					</div>
					<div class="d-flex justify-content-center links">
						<a href="#">Forgot your password?</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content text-center">
		<div class="modal-header bg-warning text-white d-flex justify-content-center">
		  <h5 class="modal-title" id="exampleModalLabel">REGISTRATE</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<img  src="../../../assets/img/professor.png" width="175px" height="175px">
		  <h1>Â¡Registrate como estudiante o tutor!</h1>
		</div>
		<div class="modal-footer bg-warning text-white">
			<button routerLink="/register" type="button" class="btn btn-outline-success" data-bs-dismiss="modal" >TUTOR</button>
			<button routerLink="/registerEstudent" type="button" class="btn btn-outline-success" data-bs-dismiss="modal" >ESTUDIANTE</button>
		</div>
	  </div>
	</div>
  </div>
</body>