<app-navbar></app-navbar>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
    </style>

    <body>
        
        <div id="encabezado">
            <h1 class="text-center h1">CURSOS DISPONIBLES</h1>
         </div>

         <form class="form-inline justify-content-center">
            <div class="h-100">
              <div class="d-flex justify-content-center h-100">
                <div class="searchbar">
                  <input  [(ngModel)]="search" class="search_input" type="search" name="search"  placeholder="Search...">
                  <a href="/listUsers" class="search_icon"><i class="fas fa-search"></i></a>
                </div>
              </div>
            </div>
          </form>
         <div id="trans" class="row container card-body d-grid gap-2 col-9 mx-auto" *ngFor="let class of classes | search:search">
            <div  class="card-body">
                <img src="../../../assets/img/notebook.png" width="75rem" height="75rem" class="img-responsive" alt=".">
                <h1 class="card-title">{{class.name}}</h1>
                <h3 class="card-title">{{class.description}}</h3>
                <div>
                    <a class="btn btn-primary" (click)='getClass(class._id)' data-bs-toggle="modal" data-bs-target="#exampleModal">Inscribirme</a>
                </div>
                      
            </div> 
         </div>



         <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header bg-warning text-black d-flex justify-content-center">
                  <h5 class="modal-title" id="exampleModalLabel">
                   Inscribirse al curso</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    
                </div>
               
                <div class="modal-body">
                  <img src="../../../assets/img/tenor.gif" width="150rem" height="150rem" class="img-responsive" alt=".">
        <br>
                           <h3 class="text-center h1">Acepta dar acceso al tutor a sus datos públicos</h3>
                 
                           <button type="button" (click)="inscriptionClass()" class="btn btn-outline-secondary" data-bs-dismiss="modal" >Inscribirme</button>
                </div>

                <div class="modal-footer bg-warning text-white">                  
                </div>
                
              </div>
            </div>
          </div>
    </body>

        
        
        


